<form #loginForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <input
            name="email"
            [(ngModel)]="email"
            required
            appEmailValidator
            #emailRef="ngModel"
    />
    <div *ngIf="(emailRef.invalid && emailRef.touched) || loginForm.submitted">
        <span *ngIf="emailRef.errors?.required">Email is required</span>
        <span *ngIf="emailRef.errors?.invalidEmail">Invalid email</span>
    </div>

    <input
            type="password"
            name="password"
            [(ngModel)]="password"
            required
            #passwordRef="ngModel"
    />
    <div *ngIf="(passwordRef.invalid && passwordRef.touched) || loginForm.submitted">
        <span *ngIf="passwordRef.errors?.required">Password is required</span>
    </div>

    <button type="submit">Login</button>
</form>
